<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardMapper">

<select id="boardTotalCount" resultType="int">
SELECT COUNT(*)
FROM   TBL_BOARD
</select>

	<select id="selectBoardList" resultType="boardVO">
	SELECT * FROM (
		SELECT /* +INDEX_ASC(TBL_BOARD PK_BOARD) */
		ROWNUM RN, B.*
		FROM TBL_BOARD B) B
		WHERE RN BETWEEN #{first} AND #{last}
	</select>


<!-- 단건 조회 -->
	<select id = "selectBoard" resultType="BoardVO">
		SELECT *
			FROM TBL_BOARD
			WHERE BNO = #{bno}
		</select>
		
</mapper>