<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
   crossorigin="anonymous">
</head>
<body>
   <h1>단건 조회</h1>
   <a th:href="@{/boardList}">이전으로</a>
   <table class="table">
      <tr>
         <th>번호</th>
         <td th:text="${board.bno}"></td>
      </tr>
      <tr>
         <th>제목</th>
         <td th:text="${board.title}"></td>
      </tr>
      <tr>
         <th>내용</th>
         <td th:text="${board.content}"></td>
      </tr>
      <tr>
         <th>작성자</th>
         <td th:text="${board.writer}"></td>
      </tr>
      <tr>
         <th>작성일자</th>
         <td th:text="${board.regdate}"></td>
      </tr>
      <tr>
         <th>업데이트일자</th>
         <td th:text="${board.updatedate}"></td>
      </tr>
   </table>

   <!-- 댓글 시작 -->
   <div class="card mb-3">
   <div class="card-body">
   <h5 class="card=title">댓글목록</h5>
      <div id="replyList">
     <!-- <table>
         <tr>
            <th>번호</th>
            <th>내용</th>
            <th>작성자</th>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
         </tr>
      </table> --> 
      </div>
   </div>
   </div>
   <!-- 댓글 끝 -->

   <!-- 댓글 등록 시작 -->
   <form id="replyForm" name="replyForm">
      <input id="reply" name="reply" placeholder="내용을 입력하세요"> <input
         id="replyer" name="replyer" placeholder="이름을 입력하세요"> <input
         id="bno" name="bno" type="hidden" th:value="${board.bno}">
      <button type=button class="btnReplyInsert">댓글 등록</button>
   </form>
   <!-- 댓글 등록 끝 -->
  
<script>
replyList();
replyInsert();

/*-------------------------------------
댓글 조회 ajax 호출
---------------------------------------*/
function replyList(){
	const bno = replyForm.bno.value;
	const url = `/board/${bno}/reply`
	fetch( url )
	.then( result => result.json() )
	.then( result => replyListCallback(result) )
}


/*-------------------------------------
댓글 조회 콜백
---------------------------------------*/
function replyListCallback(result){
	const replys = document.querySelector("#replyList");
	replys.innerHTML = "";
	result.forEach(item => replys.insertAdjacentHTML("beforeend", replyMake(item)) );
}


/*--------------------------------------
 * 댓글 태그 생성
 --------------------------------------*/
 function replyMake(item){
	return `<div class="row border">
    <div class="col-lg-2 text-danger">${item.replyer}</div>
    <div class="col-lg-6">${item.reply}</div>
    <div class="col-lg-4"><button type="button" data-rno="${item.rno}" class="btn btn-success btnReplyUpdateForm">수정</button>
                          <button type="button" data-rno="${item.rno}" class="btn btn-primary btnReplyDelete">삭제</button></div>
	</div>`
}
 
/*-------------------------------------
등록 버튼 이벤트 지정
---------------------------------------*/	
const url = "/reply";
function replyInsert(){
	document.querySelector(".btnReplyInsert")
	.addEventListener("click", function(){
		//파라미터 만들기
		const reply = replyForm.reply.value;
		const replyer = replyForm.replyer.value;
		const bno = replyForm.bno.value;
		const param = {reply, replyer, bno}
		
		
		//등록 요청
		fetch(url, {
			method:"post",
			headers: {
			      "Content-Type": "application/json",
			      // 'Content-Type': 'application/x-www-form-urlencoded',
			    },
			body : JSON.stringify(param), 
		})
		.then( result => result.text() )
		.then( result => alert(result) )  //t 1 vo
		//.then( result => replyList() )
	})
} 
</script>
</body>
</html>